@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bg-grad {
    0% {
        --bg-ind: rgb(99 102 241);
    }
    
    100% {
        --bg-ind: rgb(160, 161, 233);
    }
}