<div class="bg-indigo-500 grid grid-cols-1 md:grid-cols-2 h-[90svh]">
    <!-- Left branding / info section -->
    <div class=" text-white flex flex-col items-center justify-center p-10">
        <h1 class="text-4xl font-bold mb-3">KhaataBook</h1>
        <p class="text-lg opacity-90">
            <%= yourText %>
        </p>
        <a href="https://github.com/Shubham-404/" target="_blank" class="mt-10 text-md opacity-70">By
            Shubham-404</a>
    </div>

    <!-- Right form section -->
    <%- rightSection %> <!-- This is where the form content gets injected -->
</div>