<header class="w-full">
    <nav class="w-full p-3 px-8 flex justify-between items-center bg-indigo-500 text-white">
        <span class="text-xl font-semibold"><a href="/">KhaataBook DB</a></span>
        <ul class="flex justify-evenly items-center w-90 p-2">
            <li class="hover:font-semibold"><a href="/">Home</a></li>
            <li class="hover:font-semibold"><a href="/contact">Contect Us</a></li>
            <li class="hover:font-semibold"><a href="/login">Login</a></li>
            <li class="hover:font-semibold"><a href="/signup">SignUp</a></li>
        </ul>
        <span class="cursor-pointer text-wrap flex">
            <img class="h-5 w-5" src="/images/sun.svg" alt="">
        </span>
    </nav>
</header>